kestra/flows/02_parse_and_load.yml
id: parse_and_load
namespace: dallas.flu
description: Parse PDFs from both storage buckets and load to staging tables

triggers:
  - id: after_scrape
    type: io.kestra.plugin.core.trigger.Flow
    conditions:
      - type: io.kestra.plugin.core.condition.ExecutionStatusCondition
        in: [SUCCESS]
    flows:
      - namespace: dallas.flu
        flowId: scrape_all_pdfs

tasks:
  - id: parse_dchhs
    type: io.kestra.plugin.scripts.python.Script
    env:
      SUPABASE_URL: '{{ secret("SUPABASE_URL") }}'
      SUPABASE_KEY: '{{ secret("SUPABASE_KEY") }}'
    beforeCommands:
      - pip install pdfplumber pandas supabase python-dotenv -q
    outputFiles: ['dchhs_weekly.csv']
    script: |
      import os, io, re, json
      import pdfplumber, pandas as pd
      from datetime import datetime
      from supabase import create_client

      supabase = create_client(os.environ['SUPABASE_URL'], os.environ['SUPABASE_KEY'])
      BUCKET   = 'flu-pdfs-dchhs'

      def safe_float(val):
          try: return float(str(val).replace('%','').replace(',','').strip())
          except: return None

      def safe_int(val):
          try: return int(str(val).replace(',','').strip())
          except: return None

      def derive_season(date):
          return f'{date.year}-{date.year+1}' if date.month >= 10 else f'{date.year-1}-{date.year}'

      def extract_record(filename, pdf_bytes):
          errors = []
          rec = {'source_pdf_filename': filename}
          with pdfplumber.open(io.BytesIO(pdf_bytes)) as pdf:
              text = '\n'.join(p.extract_text() or '' for p in pdf.pages)
              tables = []
              for page in pdf.pages: tables.extend(page.extract_tables())

              m = re.search(r'[Ww]eek [Ee]nding[:\s]+([\d/]+)', text)
              if m:
                  try:
                      rec['report_week_end_date'] = datetime.strptime(
                          m.group(1).strip(), '%m/%d/%Y').date()
                  except: errors.append(f'Date parse failed: {m.group(1)}')
              else: errors.append('Week ending date not found')

              m2 = re.search(r'CDC [Ww]eek\s+(\d+)', text)
              rec['mmwr_week'] = int(m2.group(1)) if m2 else None

              try:
                  t1 = tables[0]
                  rec['total_tests_performed'] = safe_int(t1[8][6])
                  rec['total_positive_tests']  = safe_int(t1[9][6])
                  rec['pct_positive']          = safe_float(t1[10][6])
                  rec['flu_a_count']           = safe_int(t1[11][6])
                  rec['flu_b_count']           = safe_int(t1[12][6])
              except (IndexError, TypeError) as e:
                  errors.append(f'Table1 parse error: {e}')

              try:
                  t2 = tables[1]
                  rec['flu_hospitalizations'] = safe_int(t2[1][6])
                  rec['icu_admissions']       = safe_int(t2[2][6])
                  rec['pediatric_deaths']     = safe_int(t2[3][6])
              except (IndexError, TypeError) as e:
                  errors.append(f'Table2 parse error: {e}')

              absent = re.search(
                  r'school absenteeism rate was ([\d.]+)%.*?([\d.]+)%.*?influenza',
                  text, re.IGNORECASE | re.DOTALL)
              if absent:
                  rec['school_absenteeism_pct'] = safe_float(absent.group(1))
                  rec['school_ili_pct']         = safe_float(absent.group(2))

          if rec.get('report_week_end_date'):
              rec['flu_season'] = derive_season(rec['report_week_end_date'])
          return rec, errors

      pdfs = [f['name'] for f in supabase.storage.from_(BUCKET).list()]
      records, all_errors = [], {}
      for filename in sorted(pdfs):
          print(f'Parsing: {filename}')
          pdf_bytes = supabase.storage.from_(BUCKET).download(filename)
          rec, errors = extract_record(filename, pdf_bytes)
          if errors: all_errors[filename] = errors
          records.append(rec)
      pd.DataFrame(records).to_csv('dchhs_weekly.csv', index=False)
      print(f'Saved {len(records)} DCHHS rows.')

  - id: parse_dshs
    type: io.kestra.plugin.scripts.python.Script
    env:
      SUPABASE_URL: '{{ secret("SUPABASE_URL") }}'
      SUPABASE_KEY: '{{ secret("SUPABASE_KEY") }}'
    beforeCommands:
      - pip install pdfplumber pandas supabase python-dotenv -q
    outputFiles: ['dshs_weekly.csv']
    script: |
      import os, io, re, json
      import pdfplumber, pandas as pd
      from datetime import datetime
      from supabase import create_client

      supabase = create_client(os.environ['SUPABASE_URL'], os.environ['SUPABASE_KEY'])
      BUCKET   = 'flu-pdfs-dshs'

      def safe_float(val):
          try: return float(str(val).replace('%','').replace(',','').strip())
          except: return None

      def safe_int(val):
          try: return int(str(val).replace(',','').strip())
          except: return None

      def derive_season(date):
          return f'{date.year}-{date.year+1}' if date.month >= 10 else f'{date.year-1}-{date.year}'

      def extract_record(filename, pdf_bytes):
          errors = []
          rec = {'source_pdf_filename': filename}
          with pdfplumber.open(io.BytesIO(pdf_bytes)) as pdf:
              text = '\n'.join(p.extract_text() or '' for p in pdf.pages)
              tables = []
              for page in pdf.pages: tables.extend(page.extract_tables())

              fn_match = re.search(r'(\d{4})_week(\d{2})', filename)
              if fn_match:
                  rec['mmwr_week'] = int(fn_match.group(2))

              try:
                  t4 = tables[3]
                  rec['providers_reporting'] = safe_int(t4[1][1])
                  rec['ili_pct']             = safe_float(t4[4][1])
                  rec['ili_baseline_pct']    = safe_float(t4[5][1])
                  if rec['ili_pct'] and rec['ili_baseline_pct']:
                      rec['above_baseline'] = rec['ili_pct'] > rec['ili_baseline_pct']
              except (IndexError, TypeError) as e:
                  errors.append(f'Table4 ILINet error: {e}')

              try:
                  t5 = tables[4]
                  last_row = t5[-1]
                  rec['age_0_4_ili']          = safe_int(last_row[1])
                  rec['age_5_24_ili']         = safe_int(last_row[2])
                  rec['age_25_49_ili']        = safe_int(last_row[3])
                  rec['age_50_64_ili']        = safe_int(last_row[4])
                  rec['age_65_plus_ili']      = safe_int(last_row[5])
                  rec['total_ili_cases']      = safe_int(last_row[6])
                  rec['total_patient_visits'] = safe_int(last_row[7])
              except (IndexError, TypeError) as e:
                  errors.append(f'Table5 age group error: {e}')

              try:
                  t2 = tables[1]
                  rec['flu_a_count'] = safe_int(t2[1][1])
                  rec['flu_b_count'] = safe_int(t2[5][1])
                  rec['h1n1_count']  = safe_int(t2[3][1])
                  rec['h3n2_count']  = safe_int(t2[4][1])
              except (IndexError, TypeError) as e:
                  errors.append(f'Table2 lab error: {e}')

              m = re.search(r'[Ww]eek [Ee]nding[:\s]+([\d/]+)', text)
              if m:
                  try:
                      rec['report_week_end_date'] = datetime.strptime(
                          m.group(1).strip(), '%m/%d/%Y').date()
                  except:
                      errors.append(f'Date parse failed: {m.group(1)}')

          if rec.get('report_week_end_date'):
              rec['flu_season'] = derive_season(rec['report_week_end_date'])
          return rec, errors

      pdfs = [f['name'] for f in supabase.storage.from_(BUCKET).list()]
      records, all_errors = [], {}
      for filename in sorted(pdfs):
          print(f'Parsing: {filename}')
          pdf_bytes = supabase.storage.from_(BUCKET).download(filename)
          rec, errors = extract_record(filename, pdf_bytes)
          if errors: all_errors[filename] = errors
          records.append(rec)
      pd.DataFrame(records).to_csv('dshs_weekly.csv', index=False)
      print(f'Saved {len(records)} DSHS rows.')

  - id: load_to_staging
    type: io.kestra.plugin.scripts.python.Script
    env:
      SUPABASE_DB_URL: '{{ secret("SUPABASE_DB_URL") }}'
    inputFiles:
      dchhs_weekly.csv: '{{ outputs.parse_dchhs.outputFiles["dchhs_weekly.csv"] }}'
      dshs_weekly.csv:  '{{ outputs.parse_dshs.outputFiles["dshs_weekly.csv"] }}'
    beforeCommands:
      - pip install pandas psycopg2-binary -q
    script: |
      import os, pandas as pd, psycopg2
      from psycopg2.extras import execute_values

      DB_URL = os.environ['SUPABASE_DB_URL']

      DCHHS_COLS = [
          'report_week_end_date','mmwr_week','flu_season',
          'total_tests_performed','total_positive_tests','pct_positive',
          'flu_a_count','flu_b_count','flu_hospitalizations',
          'icu_admissions','pediatric_deaths',
          'school_absenteeism_pct','school_ili_pct','source_pdf_filename'
      ]
      DSHS_COLS = [
          'report_week_end_date','mmwr_week','flu_season',
          'ili_pct','ili_baseline_pct','above_baseline','providers_reporting',
          'age_0_4_ili','age_5_24_ili','age_25_49_ili','age_50_64_ili','age_65_plus_ili',
          'total_ili_cases','total_patient_visits',
          'flu_a_count','flu_b_count','h1n1_count','h3n2_count','source_pdf_filename'
      ]

      def upsert(conn, table, cols, df):
          df = df[[c for c in cols if c in df.columns]].where(pd.notna(df), None)
          rows = [tuple(row[c] if c in row else None for c in cols) for _, row in df.iterrows()]
          sql = f'''
              INSERT INTO {table} ({', '.join(cols)})
              VALUES %s
              ON CONFLICT (report_week_end_date) DO UPDATE SET
              {', '.join(f"{c} = EXCLUDED.{c}" for c in cols if c != 'report_week_end_date')}
          '''
          with conn.cursor() as cur:
              execute_values(cur, sql, rows)
          conn.commit()
          print(f'  Loaded {len(rows)} rows into {table}')

      conn = psycopg2.connect(DB_URL)
      try:
          dchhs = pd.read_csv('dchhs_weekly.csv')
          dchhs['report_week_end_date'] = pd.to_datetime(dchhs['report_week_end_date']).dt.date
          upsert(conn, 'staging.stg_dchhs_weekly', DCHHS_COLS, dchhs)

          dshs = pd.read_csv('dshs_weekly.csv')
          dshs['report_week_end_date'] = pd.to_datetime(dshs['report_week_end_date']).dt.date
          upsert(conn, 'staging.stg_dshs_weekly', DSHS_COLS, dshs)
      finally:
          conn.close()
      print('Staging load complete.')
